#content {
    background-color: grey;
    height: 100%;
    width: 100%;
}
h1 {
    color: white;
}
p {
    color: white;
}

//Search bars container positioning
.searchChar {
    width: 90%;
    margin: 5%;
}
.searchWeapon {
    width: 90%;
    margin: 5%;
}
.searchArtifact {
    width: 90%;
    margin: 5%;
}

//Search bar styling
.charSearchBar {
    background-color: #EBE4D6;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: #4D5568;
}
.charSearchBar::placeholder {
    color: #4D5568;
}

.weaponSearchBar {
    background-color: #EBE4D6;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: #4D5568;
}
.weaponSearchBar::placeholder {
    color: #4D5568;
}

.artifactSearchBar {
    background-color: #EBE4D6;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: #4D5568;
}
.artifactSearchBar::placeholder {
    color: #4D5568;
}

//Lists
.charList {
    list-style-type: none;
    color: white;
    margin-top: 5%;
    text-align: center;
}
.charList li {
    width: 100px;
    height: 100px;
    display: inline-block;
}
.charIcon {
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.weaponList {
    list-style-type: none;
    color: white;
    margin-top: 5%;
    text-align: center;
}
.weaponList li {
    width: 100px;
    display: inline-block;
}
.weaponIcon {
    object-fit: cover;
}

.artifactList {
    list-style-type: none;
    color: white;
    margin-top: 5%;
    text-align: center;
}
.artifactList li {
    width: 100px;
    height: 100px;
    display: inline-block;
}
.artifactIcon {
    object-fit: cover;
}

//Add divs
.characterAdd {
    overflow: auto;
    background-color: darkblue;
    width: 33%;
    height: 100%;
}

.characterAdd.active {
    overflow: hidden;
}

.removeCharacter {
    position: relative;
    background-color: red;
    color: black;
}

.weaponAdd {
    overflow: auto;
    background-color: darkorchid;
    width: 34%;
    height: 100%;
}

.artifactAdd {
    overflow: auto;
    background-color: hotpink;
    width: 33.3%;
    height: 100%;
}



//Add button
.addButton {
    background-color: blue;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 30px;
}

.addContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.characterCard {
    height: 1000px;
}

.hexagon {
    margin-top: 30px;
    width: 61.773780845922001894784216785185px;
    height: 104px;
    background-color: coral;
    border-color: coral;
    position: relative;
    display: inline-block;
}

/*.hexagon:after {
    content: "";
    width: 0; height: 0;
    position: absolute;
    right: -30px;
    border-left: 30px solid;
    border-color: inherit;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hexagon:before {
    content: "";
    width: 0; height: 0;
    position: absolute;
    left: -30px;
    border-right: 30px solid;
    border-color: inherit;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}*/